body{
    justify-content: center;
    margin-top: 50px;
    
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.card{
    border: dotted blue;
    background-color: aqua;
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  
}
.card::before{
    content: '';
    position: absolute;
    width: 2%;
    height: 200px;
    background: red;
    transition: 1s;
    animation: animate 2s linear infinite;
    
}
 @keyframes animate
 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
 }

 .card::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: black;
    transition: 0.5s;
    

    

 }